header { background-color: #16411E;
    padding: 20px 0;}
    
.caixa  {position: relative;
    width: 940px;
    margin: 0 30px;}
    
#banner {width: 30%;}
    
h1 { color: bisque;
    font-style: oblique;}
    
nav {position: absolute;
    top: 200px;
    right: -400px;}
    
nav li{display: inline;
    margin: 0  0  0 30px;}
    
nav a {text-transform: uppercase;
    color: bisque;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;}
    
nav a:hover {color: rgb(113, 97, 2);
    box-sizing: border-box;
    border: 4px solid rgb(113, 97, 2);
    border-radius: 4px;
    font-size: 25px;
    }

main {background-color: #2e6839;}
    p { color: bisque;}
    h2 {color: bisque;}
    
.texto {width: 1350px;
    margin: 0 auto;}
    
.texto li {display: inline-block;
    text-align: justify;
    vertical-align: top;
    padding: 50px 0;
    }
    
.texto h2 { font-size: 30px;
    font-weight: bold;} 
    
.texto li b { font-size: 60px;
text-align: center;
color: rgb(241, 237, 12);}


    
.texto p {font-size: 20px;
    vertical-align: top; 
    padding: 10px 0;
    padding-left: 10px;
    box-sizing: border-box;
    border-left: 10px solid #16411e;
    border-radius: 5px;}

form{margin: 40px 0;}
form label{display: block; font-size: 20px; margin: 0 0 10px; color: beige;}
form input{display: block; margin: 0 0 20px; padding: 10px 50px; width: 50%;}
footer {background-color: #16411E;
padding: 20px 0;}

#imgfinal {width: 50%;}

.copy {text-align: center;
color: beige;
position: absolute;
top: 1380px;
left: 670px;}

.telefone{font-size: 30px; color: beige; position:absolute; top:1250px; left: 570px}

.email{font-size: 30px; color: beige; position:absolute; top:1250px; left: 1000px}

#whatsapp { position: absolute;
    top: 1220px;
    left: 350px;
width: 20%;}

#email { position: absolute;
    top: 1200px;
    left: 700px;
width: 30%;}